        body {
            background-color: azure;
            position: relative;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .calculator {
            position: relative;
            border: solid;
        }
        
        .d-flex {
            display: flex;
            margin-bottom: 4px;
        }
        
        input {
            width: 50.5%;
            margin-top: 9px;
            margin-left: 4px;
        }
        
        .data-number {
            height: 35px;
            width: 35px;
            margin-left: 5px;
            margin-top: 18px;
        }
        
        .data-operation {
            height: 35px;
            width: 35px;
            margin-left: 5px;
            margin-top: 18px;
        }
        
        .data-equal {
            height: 35px;
            width: 128px;
            margin-left: 5px;
        }
        
        .data-delete {
            width: 114px;
            margin-left: 20px;
            height: 194px;
            margin-left: 20px;
            margin-top: 18px;
            margin-right: 6px;
        }